/*-- Reset Code --*/
body { 
	padding: 0;
	margin: 0;
	background: #FFF;
	font-family: 'PT Sans', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
	outline:none;
}
input[type="button"], input[type="submit"], button.btn ,i.fa.icons:hover,.footer-nav li{
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
.text-center {
	text-align: center;
}
/*-- //Reset-Code --*/
p {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	line-height: 2;
	font-size: 1em;
	color:#888;
}
/*-- header styling starts here --*/
/*-- banner --*/
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.banner{
	background:url(../img/logo.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:792px;
}
/*-- nav --*/
.navbar-default {
    background: #0b89d3;
    border: none;
    padding: 0 2em;
}  
.navbar-left {
    float: left !important;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    font-size: 1.2em;
    padding: 0.5em 0;	
	font-family: 'Josefin Sans', sans-serif;
	text-transform:capitalize;
}
.navbar-brand span {
    line-height: 0.5;
    color:#ff0101;
    text-transform: capitalize;
    transform: rotate(-150deg);
	-webkit-transform: rotate(-150deg);
	-moz-transform: rotate(-150deg);
	-o-transform: rotate(-150deg);
	-ms-transform: rotate(-150deg);
    display: inline-block;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color:#fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background: none;
}
.navbar-nav > li > a {
	padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 2em;
    line-height: 3;
    letter-spacing: 2px;
}
.navbar-default .navbar-nav > li > a {
    color:#0b0d0c;
}
.navbar-collapse {
    padding: 0;
    border-top: none;
    box-shadow: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-right {
    float: right !important;
    margin-right: 0;
    margin-left: 0em;
}
.navbar-nav {
    float: none;
    margin: 1em 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
/*-- //nav --*/
/*-- nav-effect --*/
.w3layouts_banner_info {
    padding: 18em 0 0;
}
.w3layouts_banner_info_agileits_w3layouts{
	padding:18em 0 0;
}
.w3layouts_banner_info_left ul li{
	display: inline-block;
    color: #fff;
    width:24%;
    text-transform: capitalize;
    font-weight: 600;
}
.w3layouts_banner_info_left ul li:nth-child(2){
	margin:0 5em;
}
.w3layouts_banner_info_left ul li span{
	display:block;
	padding-top:.5em;
	margin-top:.5em;
	border-top:1px solid;
}
.w3layouts_banner_info_left{
	float:left;
	width: 50%;
}
/*Wrapper*/
.wrapper{
    position: relative;
}
.wrapper h2 {
    font-size: 2em;
    letter-spacing: 7px;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-weight: 800;
}
.wrapper .sentence {
    font-size:5em;
	text-transform: capitalize;
}

/*Pop Effect*/
.popEffect{
	display: inline;
	text-indent: 8px;
}
.popEffect span {
    animation: pop 7.5s linear infinite 0s;
    -ms-animation: pop 7.5s linear infinite 0s;
    -webkit-animation: pop 7.5s linear infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 70%;
    left: 13%;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}
.popEffect span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.popEffect span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.popEffect span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}

/*Pop Effect Animation*/
@-moz-keyframes pop{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0;}
}
@-webkit-keyframes pop{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px);}
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes pop{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*-- //banner --*/

#main {
    position: relative;
    z-index: 1;
    padding: 0 60px 30px;
    overflow-x: hidden;
  }

.section{
	padding:4em 0;
}
.title{
    font-size: 2.5em;
    color: #0b89d3;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto 1em;
	text-align:center;
}	
  #textArea{
    border: 1px solid #ccc;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
    margin:auto;
    margin-top:10px;
  }
  #teacherInput{
    border: 1px solid #ccc;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
    margin:auto;
    margin-top:10px;
    text-align:center;
    vertical-align: middle;
  }
  #upload{
    border: 1px solid #ccc;
    width: 50%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
    margin:auto;
    margin-top:10px;
  }
  #img-results{
    border: 1px solid #ccc;
    width: 0px;
    height: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow:auto;
    margin:auto;
    margin-top:10px;
    font-family: Helvetica, ‘Hiragino Sans GB’, ‘Microsoft Yahei’, ‘微软雅黑’, Arial, sans-serif;
  }
  
  #img_input {
    display: none;
  }
  label.upload-label {
   
    display: inline-block;
    padding: 10px;
    margin-left:50%;
    margin-top:10px;
    width:100px;
    text-align: center;
  }
  .new-label {
    position: absolute;
    top: 3px;
    left: 110%;
    background-color: #0b89d3;
    color: #fff;
    line-height: 16px;
    height: 16px;
    font-size: 9px;
    font-weight: bold;
    font-family: "Roboto Mono", Monaco, courier, monospace;
    padding: 1px 4px 0 6px;
    border-radius: 4px;
  }
  .search-query {
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 15px 0 30px;
    border: 1px solid #e3e3e3;
    color: #2c3e50;
    outline: none;
    border-radius: 15px;
    margin-right: 10px;
    transition: border-color 0.2s ease;
    background: #fff url("../images/search.png") 8px 5px no-repeat;
    background-size: 20px;
    vertical-align: middle !important;
  }
  .search-query:focus {
    border-color: #0b89d3;
  }

footer {
    padding: 50px 0 0 0;
    color: #949494;
}
footer {
    background: #1B1B1B;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
    background: #fff;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:before, :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}