<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rwrite</title>
    <link rel="stylesheet" type="text/css" href="css/page.css">

</head>
<body class="docs">
<div id ="header">
    <a id="logo">
        <img src="img/miao-logo.png">
        <span id="name">Rwrite</span>
        <span id="intro">&nbsp; Help Children's Writing</span>
    </a>

    <ul id="nav">
        <header-bar
            v-for="bar in barList"
            v-bind:info="bar"
            v-bind:key="bar.id">
        </header-bar>
    </ul>
</div>

<div id="main" class="fix-sidebar"> 
    <div id = "upload" v-html="uploadContent" v-bind:style="{ width: img_width + 'px', height: img_height + 'px'}">
        </div>
    <div>   
        <label class="upload-label">
            <input type="file" id="image" style="display:none" name="image"  >上传图片</label>
        <label class="upload-label">
            <input type="checkbox" id="textRst" style="display:none" >识别</label>
    </div>
</div>

<hr id="cut-line" v-if="showCutLine"></hr>

<br>
<br>
<br>

<div id="results" class="fix-sidebar">
    <div id = "img-results" v-html="results" v-bind:style="{width: result_width + 'px', height: result_height + 'px'}">
    </div>
</div>

<br>
<br>
<br>


<div id="analysis" v-if="shown" class="center"> 
    <div id="textArea" v-bind:style="{width: txt_width + 'px', height: txt_height + 'px'}">
        <h3>学生：{{studentName}}</h3>
        <h3>错误分析：</h3>
        <ul>
            <li
                is="fault"
                v-for="(analysis, index) in textAnalysis"
                v-bind:key="analysis.id"
                v-bind:text="analysis.text"
                v-on:remove="textAnalysis.splice(index, 1)"
                >
            </li>
        </ul>
        <h3>老师评语：</h3>
        <p>{{teacherFeedback}}</p>
    </div>
    <div align="center">
        <input id="teacherInput" v-model="teacherFeedback" placeholder="请输入你的评语..." v-bind:style="{width: txt_width + 'px'}">
    </div>
</div>

<br>
<br>
<br>
<br>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>