<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rwrite</title>
    
    <!-- stylesheet -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/buttons.css">
    <!-- //stylesheet -->

    <!-- font-awesome-icons -->
    <link href="css/font-awesome.css" type="text/css" rel="stylesheet"> 
    <!-- //font-awesome-icons -->

</head>
<body class="docs">
<div id ="header">
    <!-- banner -->
	<div class="banner">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="navbar-header navbar-left">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a class="navbar-brand" href="index.html">Rwrite</a></h1>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <nav>
                                <ul class="nav navbar-nav w3-agileits_home_nav">
                                        <li class="active">
                                            <a href="index.html">主页</a>
                                        </li>
                                        <li>
                                            <a class="scroll" href="#recognize">识别</a>
                                        </li>
                                        <li>
                                            <a class="scroll" href="#history">历史</a>
                                        </li>
                                        <li>
                                            <a class="scroll" href="#about">关于</a>
                                        </li>
                                </ul>
                        </nav>
                    </div>
                </nav>
                <div class="w3layouts_banner_info">
                    <section class="wrapper agileits-w3layouts_wrapper_home text-center">
                        <h2>Help Children's Writing.</h2>
                        <div class="sentence">
                            <div class="popEffect">
                                <span>识别作业中错别字</span>
                                <span>减轻批改作业的压力</span>
                                <span>个性化的教学系统</span>
                            </div>
                        </div>
                    </section>
    
                </div>
            </div>
        </div>
    <!-- //banner -->
</div>

<div id="main" class="fix-sidebar"> 
    <div id="recognize" class="section">
        <div class="container">
                <h2 class="title text-center">识别文字</h2>
                <div id = "upload" v-html="uploadContent" v-bind:style="{ width: img_width + 'px', height: img_height + 'px'}">
                    </div>
                <div>   
                    <label class="upload-label button button-action button-pill button-normal">
                        <input type="file" id="image" style="display:none" name="image">上传图片</label>
                    <label class="upload-label button button-action button-pill button-normal">
                        <input type="checkbox" id="textRst" style="display:none" >识别</label>
                </div>
                
        </div>            
    </div>    
</div>

<hr id="cut-line" v-if="showCutLine"></hr>

<br>
<br>
<br>

<div id="results" class="fix-sidebar">
    <div id = "img-results" v-html="results" v-bind:style="{width: result_width + 'px', height: result_height + 'px'}">
    </div>
</div>                
<br>
<br>
<br>
                
<div id="analysis" v-if="shown" class="center"> 
    <div id="textArea" v-bind:style="{width: txt_width + 'px', height: txt_height + 'px'}">
        <h3>学生：{{studentName}}</h3>
        <h3>错误分析：</h3>
        <ul>
            <li
                is="fault"
                v-for="(analysis, index) in textAnalysis"
                v-bind:key="analysis.id"
                v-bind:text="analysis.text"
                v-on:remove="textAnalysis.splice(index, 1)"
                v-on:fault="faultRecount(index)"
                >
            </li>
            <br>
            <button v-on:click= "uploaded = true" class="button button-action button-box button-small">上报选中的{{fault_count}}个识别错误</button>
            <transition name="fade">
                <p v-if="uploaded">上报成功！</p>
            </transition>
        </ul>
        <h3>老师评语：</h3>
        <p>{{'\n'+teacherFeedback}}</p>
    </div>
    <div align="center">
        <input id="teacherInput" v-model="teacherFeedback" placeholder="请输入你的评语..." v-bind:style="{width: txt_width + 'px'}">
    </div> 
</div>


<br>
<br>
<br>
<br>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
</body>
</html>